In [3]:
import pandas as pd

In [4]:
x= pd.DataFrame(columns = ["city","Prediction"])

In [5]:
x['city'] = ["blr", "mum", "hyd","blr", "mum", "hyd","blr", "mum", "hyd","blr", "mum", "hyd"]
x["Prediction"] = ["yes", "no","yes", "no","yes", "no","yes", "no","yes", "no","yes", "no"]

In [6]:
x

   city Prediction
0   blr        yes
1   mum         no
2   hyd        yes
3   blr         no
4   mum        yes
5   hyd         no
6   blr        yes
7   mum         no
8   hyd        yes
9   blr         no
10  mum        yes
11  hyd         no

In [7]:
x["city"].value_counts()

hyd    4
mum    4
blr    4
Name: city, dtype: int64

In [8]:
x["Prediction"].value_counts()

yes    6
no     6
Name: Prediction, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
x["Prediction"] =  le.fit_transform(x["Prediction"])

In [11]:
x

   city  Prediction
0   blr           1
1   mum           0
2   hyd           1
3   blr           0
4   mum           1
5   hyd           0
6   blr           1
7   mum           0
8   hyd           1
9   blr           0
10  mum           1
11  hyd           0

In [12]:
dummies = pd.get_dummies(x["city"],drop_first= True)

In [13]:
dummies

    hyd  mum
0   0.0  0.0
1   0.0  1.0
2   1.0  0.0
3   0.0  0.0
4   0.0  1.0
5   1.0  0.0
6   0.0  0.0
7   0.0  1.0
8   1.0  0.0
9   0.0  0.0
10  0.0  1.0
11  1.0  0.0

In [14]:
final_data= dummies.join(x["Prediction"])
final_data

    hyd  mum  Prediction
0   0.0  0.0           1
1   0.0  1.0           0
2   1.0  0.0           1
3   0.0  0.0           0
4   0.0  1.0           1
5   1.0  0.0           0
6   0.0  0.0           1
7   0.0  1.0           0
8   1.0  0.0           1
9   0.0  0.0           0
10  0.0  1.0           1
11  1.0  0.0           0