In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\dell\\Documents'

In [3]:
os.chdir('E:\machine learning')

In [5]:
data=pd.read_csv('Suicide Statistics in Indian States.csv')

In [7]:
data

,Sl. No.,Category,State/UT/City,Males Involved,Percentage of Males to Total,Female Involved,Percentage of Females to Total,Total
0,1,State,Andhra Pradesh,4275,59.2,2947.0,40.8,7222
1,2,State,Assam,1557,73.8,554.0,26.2,2111
2,3,State,Bihar,5422,59.9,3636.0,40.1,9058
3,4,State,Gujarat,4276,59.6,2898.0,40.4,7174
4,5,State,Haryana,788,60.4,517.0,39.6,1305
5,6,State,Jammu and Kashmir,344,71.4,138.0,28.6,482
6,7,State,Kerala,2428,68.1,1136.0,31.9,3564
7,8,State,Madhya Pradesh,9150,58.8,6399.0,41.2,15549
8,9,State,Maharashtra,12687,61.2,8055.0,38.8,20742
9,10,State,Mysore,5242,63.7,2992.0,36.3,8234
10,11,State,Nagaland,10,83.3,2.0,16.7,12
11,12,State,Orissa,3805,61.1,2427.0,38.9,6232
12,13,State,Punjab,1160,85.5,197.0,14.5,1357
13,14,State,Rajasthan,1556,57.5,1152.0,42.5,2708
14,15,State,Tamil Nadu,5609,64.0,3149.0,36.0,8758
15,16,State,Uttar Pradesh,10463,66.7,5235.0,33.3,15698
16,17,State,West Bengal,8043,62.2,4879.0,37.8,12922
17,18,UT,Andaman & Nicobar Islands,35,83.3,7.0,16.7,42
18,19,UT,Chandigarh,27,81.8,6.0,18.2,33
19,20,UT,Dadra & Nagar Haveli,46,71.9,18.0,28.1,64
20,21,UT,Delhi,1001,75.8,320.0,24.2,1321
21,22,UT,"Goa, Daman & Diu",177,80.5,43.0,19.5,220
22,23,UT,Himachal Pradesh,524,78.4,144.0,21.6,668
23,24,UT,Lakshadweep,2,100.0,NaN,NaN,2
24,25,UT,Manipur,41,91.1,4.0,8.9,45
25,26,UT,Pondicherry,315,71.6,125.0,28.4,440
26,27,UT,Tripura,176,65.4,93.0,34.6,269